@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gray800);
    background-color: var(--gray100);
}

svg {
    display: block;
}

img {
    width: 100%;
    object-fit: cover;
}