@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 16px;
    font-weight: normal;
    color: var(--gray700);
    background-color: var(--gray200);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

iframe {
    border-radius: 6px;
}

button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

input,
textarea {
    outline: none;
}