:root {
    --gray50: #f9fafb;
    --gray100: #f3f4f6;
    --gray200: #e5e7eb;
    --gray300: #d1d5db;
    --gray400: #9ca3af;
    --gray500: #6b7280;
    --gray600: #4b5563;
    --gray700: #374151;
    --gray800: #1f2937;

    --indigo200: #c7d2fe;
    --indigo300: #a5b4fc;
    --indigo400: #818cf8;
    --indigo600: #4f46e5;
    --indigo800: #3730a3;

    --white: #FFFFFF;
    --black: #000000;

    --navbar-height: 70px;
    --footer-height: 60px;
    --mobile-screen: 756px;
}