@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply font-poppins;
}

html {
    height: 100%;
}

@layer components {
    .form {
        @apply max-w-xl bg-white shadow-md md:rounded-lg my-8 mx-auto p-6;
    }

    .form-title {
        @apply text-center font-bold text-indigo-600 mb-8 text-2xl;
    }

    .form-group {
        @apply mb-5;
    }

    .form-label {
        @apply font-semibold mb-1 inline-block;
    }

    .form-error {
        @apply text-sm mt-1 font-semibold text-red-600;
    }

    .form-control {
        @apply border-2 border-gray-300 rounded-md p-2 outline-none block w-full focus:ring-1 focus:border-teal-600 
        focus:ring-teal-600;
    }

    .btn {
        @apply px-4 py-2 rounded-md text-center transition-all duration-300 font-semibold;
    }

    .btn-primary {
        @apply bg-teal-600 text-white hover:bg-teal-800 disabled:bg-teal-400 focus:ring-2 focus:ring-offset-2 
        focus:ring-teal-600;
    }

    .navbar-icon {
        @apply bg-gray-200 hover:bg-gray-300 rounded-full flex justify-center items-center h-9 w-9 text-gray-700;
    }

    .navbar-dropdown-item {
        @apply text-white hover:text-gray-300 flex items-center gap-2;
    }

    .post-action-btn {
        @apply bg-gray-200 transition-all rounded-full p-2 hover:bg-gray-300 text-gray-800 duration-300;
    }
}